@tailwind base;
@tailwind components;
@tailwind utilities;
/* ../../images/cloudhm-web.webp */
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#2f3337 !important;
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-weight: lighter;
  word-break: break-all;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
